.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
dist/**/*.map
.gitignore
.npmignore
.editorconfig
.nvmrc
.eslintrc*
eslint.config.*
.prettierrc*
.prettierignore
tsconfig.json
esbuild.mjs
**/tsconfig.json
**/.eslintrc*
**/*.map
**/*.ts
**/*.test.*
.github/**
package-lock.json
CONTRIBUTING.md
